// colors
$mainBackground: white;
$lightBlueBackground: #71969f;
$textColor: #00324d;

// formatting
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-center {
  @include flex-center;
  flex-direction: column;
}
