@use "../../theme";

nav {
  display: flex;
  height: 5vh;
  line-height: 5vh;
  background-color: theme.$lightBlueBackground;

  .menu-container {
    width: 60vw;
    text-align: center;

    ul {
      width: 100%;
      display: flex;
      justify-content: space-around;

      li {
        list-style: none;
        width: 20vw;
      }
    }

    .sub-menu {
      display: flex;
      flex-direction: column;
      z-index: 1;
      position: fixed;
      top: 5vh;
      width: 20vw;

      a {
        text-decoration: none;
        color: inherit;
      }
      li {
        width: 100%;
        border-top: 1px solid theme.$textColor;;
      }
    }

    .sub-menu.closed {
      visibility: hidden;
      opacity: 0;
      height: 0;
    }

    .open {
      background-color: #F63940;
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 0.3s linear;
    }
  }

  .title-container {
    width: 40vw;
    text-align: center;
  }
}
